social-media-backend_v4/node_modules/
social-media-backend_v4/src/config/.env
social-media-backend_v4/uploads/
social-media-backend-v4/bun.lock
social-media-backend_v4/public/
social-media-backend_v4/.DS_Store
social-media-backend_v4/src/queries
social-media-v3/ios/
social-media-v3/android/
social-media-v3/node_modules/
social-media-v3/.expo/
social-media-v3/dist/
social-media-v3/web-build/
social-media-v3/expo-env.d.ts
social-media-v3/*.orig.*
social-media-v3/*.jks
social-media-v3/*.p8
social-media-v3/*.p12
social-media-v3/*.key
social-media-v3/*.mobileprovision
social-media-v3/.metro-health-check*
social-media-v3/npm-debug.*
social-media-v3/yarn-debug.*
social-media-v3/yarn-error.*
social-media-v3/.DS_Store
social-media-v3/.DS_Store.*
social-media-v3/*.pem
social-media-v3/.env*.local
social-media-v3/*.tsbuildinfo
social-media-v3/pnpm-lock.yaml